<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-sm-12 espacio">
    <div class="well">
      <h4>Estancias Profesionales</h4>
      <hr>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#modelo">Modelo</a></li>
        <li><a data-toggle="tab" href="#procedimiento">Procedimiento</a></li>
        <li><a data-toggle="tab" href="#documentacion">Documentación</a></li>
      </ul>
      <div class="tab-content ">
        <div class="tab-pane active" id="modelo">
          <table class="table table-striped ">
            <thead></thead>
            <tbody>
            <tr>
              <th class="header-table-estancias"><h4>¿Qué son las Estancias Profesionales?</h4></th>
            </tr>
            <tr>
              <td class="table-estancias">
                Es la actividad académica obligatoria que deberán realizar los alumnos al finalizar sexto semestre, octavo semestre y que no tengan materias adeudadas que regularizar en cursos de verano.
                Objetivo
                Fortalecer, desarrollar y consolidar la vinculación de los alumnos de licenciatura, con el sector productivo estatal, nacional e internacional.
                Propiciar experiencias útiles para la futura integración del alumno al ámbito laboral.
                Coadyuvar en la formación del alumno a través del desarrollo de habilidades y capacidades para desempeñar cualquier tarea relacionada con su perfil de egreso.
                Contribuir a la formación integral del alumno a través de la combinación de conocimientos teóricos y prácticos adquiridos en la universidad con actividades de la realidad laboral y profesional.
              </td>
            </tr>
            <tr>
              <th class="header-table-estancias">¿Dónde realizarlas?</th>
            </tr>
            <tr>
              <td class="table-estancias">Los alumnos podrán realizar de acuerdo a su Plan de Estudios sus Estancias Profesionales en los diferentes sectores: público, social y privado, en donde desarrollen y apliquen los conocimientos dentro del área de su especialidad.</td>
            </tr><tr>
              <th class="header-table-estancias">¿Cuántas horas se deben realizar?</th>
            </tr>
            <tr>

              <td class="table-estancias">
                <ul type="square" style="margin-left:4em">
                  <li>El Alumno deberá cumplir como mínimo dos Estancias Profesionales.</li>
                  <li>Deberá acreditar mínimamente 560 horas por concepto de Estancia Profesional.</li>
                  <li>El número mínimo de horas por Estancia Profesional que deberá acreditar el alumno será de 280 horas.</li>
                  <li>Solo podrá realizar una Estancia Profesional por periodo de verano.</li>
                </ul>
              </td>

            </tr>
            <tr>
              <th class="header-table-estancias">Periodos de Estancias Profesionales</th>
            </tr>
            <tr>
              <td>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th class="style_periodos">Fecha de Inicio</th>
                    <th class="style_periodos">Fecha de Término</th>
                    <th class="style_periodos">Núm. de Semanas</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="td_periodos">7 de Julio</td>
                    <td class="td_periodos">5 de Septiembre</td>
                    <td class="td_periodos">9</td>
                  </tr>
                  <tr>
                    <td class="td_periodos">7 de Julio</td>
                    <td class="td_periodos">22 de Agosto</td>
                    <td class="td_periodos">7</td>
                  </tr>
                  </tbody>
                </table>

              </td>
            </tr>

            </tbody>
          </table>
				</div>




				<div class="tab-pane" id="procedimiento">
          <h4>Requisitos</h4>
          <p>
          <ul type="square">
          <li>Tramitar en el IMSS / ISSSTE el Carnet de citas (entregar una copia a la coordinación de Estancia Profesional).</li>
          <li>Tramitar su CONSTANCIA DE VIGENCIA DE DERECHOS del IMSS o ISSSTE en el área de servicios de AFILIACIÓN-VIGENCIA DE DERECHOS correspondiente. (entregar una copia a la coordinación de Estancia Profesional).</li>
          </ul>
          </p>
				</div>
        <div class="tab-pane" id="documentacion">
          <h4>Documentación</h4>
          <ol style="margin-left:2em; margin-top:1em;">
            <li value="1">Acuse de oficio de presentación:</li>
              <ul type="square" style="margin-left:4em">
                <li>Nombre de quien recibe</li>
                <li>Fecha en que recibe</li>
                <li>Firma</li>
                <li>Sello de la empresa</li>
              </ul>
            <li>Solicitar un oficio de aceptación en hoja con membrete de la empresa y sello, en donde la empresa expresa formalmente que los acepta para realizar Estancias Profesionales, este oficio debe contener:</li>
              <ul type="square" style="margin-left:4em">
                <li>Su nombre</li>
                <li>Su matrícula</li>
                <li>Número de IMSS o ISSSTE</li>
                <li>Carrera, semestre</li>
                <li>Periodo en el que realizaran sus Estancias Profesionales: indicando día, mes y año</li>
              </ul>


            <li>Reporte Semanal de Estancia Profesional. Estos formatos deberán tener claramente establecido el inicio y termino de la semana, el horario, total de horas, descripción de las funciones realizadas. Para que tenga validez el formato deberá estar firmado y sellado por el Jefe inmediato superior así como del alumno.
            </li>
            <li>Formato de Evaluación Final de Estancias Profesionales por periodo, es una evaluación de su desempeño y deberá llenarlo al final de las Estancias Profesionales, su jefe inmediato.
            </li>
            <li>Oficio de Terminación de Estancia Profesional, en hoja con membrete de la empresa y sello, con la siguiente información:</li>
              <ul type="square" style="margin-left:4em">
                <li>Nombre</li>
                <li>Matrícula</li>
                <li>Número de IMSS o ISSSTE</li>
                <li>Carrera</li>
                <li>Semestre</li>
                <li>Periodo en el que realizo Estancia Profesional: indicando día, mes y año.</li>
                <li>Total de horas realizadas en el periodo de Estancias Profesionales.</li>
                <li>Informe Final</li>
              </ul>
            <li>Informa Final:</li>
              <ul type="square" style="margin-left:4em">
                <li>No más de dos cuartillas</li>AMLO no tiene las facultades para eliminar empleos o prestaciones", señala el Bank of America
                <li>Interlineado de espacio y medio</li>
                <li>Tipo de letra: Times New Roman</li>
                <li>Numero de letra: 12</li>
              </ul>
          <li>Cuestionario de resultados, con fotografía anexa.</li>
          <li>Enviar la fotografía de la empresa en donde realizó su Estancia Profesional al correo electrónico: luisa@mixteco.utm.mx
          </li>
          </ol>
          <span>NOTA: No se recibirá documentación incompleta</span>
				</div>
			</div>
      </div>
    </div>
  </div>
