
\.idea/nes_alumnos_dev\.iml

\.idea/workspace\.xml

log/development\.log

tmp/pids/server\.pid

tmp/cache/assets/development/sass/0c0acfe4bc9998b208f23d05232d984023ba2db6/estilos_interfaz_PA\.css\.scssc

tmp/cache/assets/development/sprockets/119488c1de993392db0664320e838fe9

tmp/cache/assets/development/sprockets/13fe41fee1fe35b49d145bcc06610705

tmp/cache/assets/development/sprockets/2db33b3ba33a0ba648d3127cae5aeec9

tmp/cache/assets/development/sprockets/357970feca3ac29060c1e3861e2c0953

tmp/cache/assets/development/sprockets/581b09beae7e7eeb40961cdfc94ef523

tmp/cache/assets/development/sprockets/8d8e5b3b93284eafc9643322ed5b06ef

tmp/cache/assets/development/sprockets/d34463a724c46a7ec6f97d66838016a8

tmp/cache/assets/development/sprockets/d771ace226fc8215a3572e0aa35bb0d6

tmp/cache/assets/development/sprockets/e47be61e0c9f98f2aba6074c65a0db41

log/

tmp/cache/assets/development/sprockets/17e4cc1a83225d93fcb3ee7776bd0e4b

tmp/cache/assets/development/sprockets/96c74ed0a5b9f700ec78fe1b88797b84

tmp/cache/assets/development/sprockets/
