<div class="row">
  <% flash.each do |name, msg| %>
  <% if msg.instance_of?(Array) %>
    <%= render :partial => "shared/messages", :locals => { :msg_title => msg.first, :msg => msg[1..-1], :class_name => name } %>
  <% else %>
    <%= render :partial => "shared/messages", :locals => { :msg => msg, :class_name => name } %>
  <% end %>
  <% end %>
</div>