<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr" >


<head>
<link rel="stylesheet" href="css/alumnos_tabla.css" type="text/css" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Diseño Tabla Interna</title>

</head>


<body>

<!--Inica encabezado..............................................................., barra de menù superior -->

<div id="wrapper">
	<div id="header">
		<div id="top_headerleft">
		
			<div id="universidad">
			Sistema de Universidades Estatales de Oaxaca</ul>
			</div> <!--universidad-->
		</div> <!--top_headerleft-->
	
		<div id="top_headerright">
			<div id="wrapper_welcome">
				<div id="welcome">Bienvenido:
				</div> <!--welcome-->
			</div> <!--wrapper_welcome-->	
	
			<div id="wrapper_usuario">
				<div id="info_usuario">Usuario
				</div> <!--info_usuario-->
			</div> <!--wrapper_usuario-->

			<div id="wrapper_close">
			</div> <!--wrapper_close-->
		</div> <!--top_headerright-->
 	</div> <!--header-->
		 

<!--Termina encabezado................................................................, barra de menù superior -->


<!--Inica contenido central............................................................., cuaderno y tabla -->
	
	<div id="bgcontent">

		<div id="content">
		
			<center>
			<div id="Titulo"> <h1>Horario de clases grupo 608</h1> 	</div>
			</center>

		<div id="content_tabla">
			<table class="titled">
			<thead>
				<tr>					
					<td>MATERIA</td>
					<td>LUNES</td>
					<td>MARTES</td>
					<td>MIÉRCOLES</td>
					<td>JUEVES</td>
					<td>VIERNES</td>
					</tr>	
			</thead>

				<tr>
					<td>MATERIA A</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
				</tr>
				
				<tr>
					<td>MATERIA B</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
				</tr>
						
				<tr >
					<td>MATERIA C</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
				</tr>
		
				<tr>
					<td>MATERIA D</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
				</tr>
				
				<tr>
					<td>MATERIA E</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
				</tr>

				<tr>
					<td>MATERIA F</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
				</tr>

				<tr>
					<td>MATERIA G</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
				</tr>

				<tr>
					<td>MATERIA H</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
					<td>Contenido</td>
				</tr>
						
		</table>
		
	
	</div><!--content tabla-->

	<div id= "pestañas"> 
			<div id="horario">
	 		<a href="#horario"title="Ir a horarios"> </a>
			</div>

			<div id="calif">
	 		<a href="#calif"title="Ir a calificaciones"> </a>
			</div>
		</div><!--pestañas-->

	</div><!--content-->
	</div><!--bgcontent-->


<!--Termina contenido central............................................................. , cuaderno y tabla -->


<!--Inica............................................................. footer -->

	<div id="footer">
		<div class="kadalink">
	   		<a href="http://www.kadasoftware.com" target="_blank"> <img src="images/logokada.png" alt="KadaSoftware"/></a>	
	  	</div> <!--kadalink-->
	</div> <!--footer-->

<!--termina............................................................ footer -->
	    
<div id="home">
 <a href="#home"title="Ir a Inicio"> </a>
</div>

</body>
</div><!--wraper-->



</html>


