/* 
Inspired by http://dribbble.com/shots/890759-Ui-Kit-Metro/attachments/97174
*/
*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

/*body {

    text-align: center;
    padding-top: 30px;
}*/

/*.fondo {
background-color: #7cad1d;
}

.btn-nav {
    color:#fff;
    background-color: #7cad1d;
    border: 1px solid #6c9719;
    -webkit-box-sizing: border-box;  Safari/Chrome, other WebKit 
    -moz-box-sizing: border-box;
     Firefox, other Gecko 
    box-sizing: border-box;          Opera/IE 8+ 
}*/

/*.btn-nav:hover {
    color: #57a639;
    background-color: #f2f7f9;
    border: 1px solid #57a639;
    cursor: pointer;
    -webkit-transition: color .5s;  For Safari 3.1 to 6.0 
    transition: color .5s;
}*/

/*.btn-nav.active {
    color: #fff;
    background-color: #2271b3;
    border: 1px solid #00527c;
    padding: 6px 0 6px 0;
    border-left: 0;
    border-right: 0;

}*/


.btn-nav .fa {
    padding-top: 8px;
	font-size: 25px;
}

.btn-nav.active p {
    margin-bottom: 8px;
}

@-webkit-keyframes pulsate {
 50% { color: #000; }
}

@keyframes pulsate {
 50% { color: #000; }
}

@media (max-width: 480px) {
    .btn-group {
        display: block !important;
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
    }

}


@media (max-width: 600px) {
    .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }

}


@media (max-width: 767px) {

    div.textos_menu {
    font-size: 14px;
    font-family: 'lato';
   }
}


@media (max-width: 400px) {

    i.fa-user , i.fa-list-alt, i.fa-calendar-check-o, i.fa-pencil, i.fa-clock-o, i.fa.fa-building, i.fa.fa-usd {
    font-size: 2px;
    
  }
}