<p>Estudiante Universidad Tecnológica de la Mixteca:</p>

<p>Se ha dado de alta tu cuenta para el Sistema de Servicios Escolares UTM</p>

<p>Los datos de tu cuenta son los siguientes:</p>

<p>Nombre de Usuario: <%= @user.login %></p>
<p>Contraseña: <%= "user.student.matricula" %></p>

<br/><br/>
<p>Universidad Tenológica de la Mixteca</p>
<p>http://www.utm.mx</p>
<i>Labor et Sapienta Libertas</i>

